<div class="container">
  <h1>TODO-LIST APP</h1>
  <h2>[Angular]</h2>
  <div class="form">
    <input type="text" class="input" [(ngModel)]="content" placeholder="Enten your task..." />
    <input type="submit" class="add" value="Add Task" (click)="submit()" />
  </div>
  <div class="form-action">
    <div class="delete-all" (click)="deleteAll()">Delete all</div>
  </div>
  <div class="tasks">
    <div class="tab">
      <button class="tablinks" [ngClass]="{'active':tab===true}" (click)="tab = true">To do</button>
      <button class="tablinks" [ngClass]="{'active':tab===false}" (click)="tab = false">Done</button>
    </div>
    <div [ngClass]="{'tabcontent':tab===true}" class="hide">
      <p style="text-align: center;" *ngIf="todo.length > 0">There are all {{todo.length}} tasks</p>
      <div *ngIf="todo.length > 0" class="list">
        <div class="task" [ngClass]="{'task-new': t.status, 'task-done': !t.status}" *ngFor="let t of todo" [id]="t.id"
          (click)="doneTask(t.id)">
          <div class="content">{{t.content}}</div>
          <span class="del" (click)="deleteItemById(t.id)">Delete</span>
        </div>
      </div>
      <div *ngIf="todo.length <= 0" class="img">
        <img src="assets/todo-empty.png" />
        <b>Sorry, no task to do !!!</b>
      </div>
    </div>
    <div [ngClass]="{'tabcontent':tab===false}" class="hide">
      <p style="text-align: center;" *ngIf="done.length > 0">There are all {{done.length}} tasks</p>
      <div *ngIf="done.length > 0" class="list">
        <div class="task" [ngClass]="{'task-new': t.status, 'task-done': !t.status}" *ngFor="let t of done" [id]="t.id"
          (click)="doneTask(t.id)">
          <div class="content">{{t.content}}</div>
          <span class="del" (click)="deleteItemById(t.id)">Delete</span>
        </div>
      </div>
      <div *ngIf="done.length <= 0" class="img">
        <img
          src="assets/done-empty.png" />
        <b>Sorry, no task finished !!!</b>
      </div>
    </div>
  </div>
</div>
<footer class="footer" >
	<div class="waves">
		<div class="wave" id="wave1"></div>
		<div class="wave" id="wave2"></div>
		<div class="wave" id="wave3"></div>
		<div class="wave" id="wave4"></div>
	</div>
	<p style="opacity: 0.75;">Made with 🤍 by Hung Nguyen</p>
</footer>