body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('https://i.pinimg.com/originals/a1/20/65/a120653f2795e2de903c4e2e33d241e7.jpg');
}

/* For mobile phones: */
@media only screen and (min-width: 200px) {

    .container {
        width: 95%;
    }
}

@media only screen and (min-width: 800px) {

    /* For tablets: */
    .container {
        width: 80%;
    }
}

@media only screen and (min-width: 1025px) {

    /* For desktop: */
    .container {
        width: 40%;
    }
}